/* @font-face {
    font-family: 'Pretendard-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
} */

@font-face {
    font-family: 'Cafe24Moyamoya-Regular-v1.0';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/Cafe24Moyamoya-Regular-v1.0.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}


/* 스크롤 확인을 위한 코드 - 나중에 주석처리 */
.scroll-indicator {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    /* opacity: 0; */
}

body::-webkit-scrollbar {
    width: 11px;
    /* 스크롤바의 너비 */
}

body::-webkit-scrollbar-thumb {
    height: 4%;
    /* 스크롤바의 길이 */
    background: #E92A57;
    /* 스크롤바의 색상 */
    border-radius: 10px;
}

body::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3); */
    background-color: #FEF0D2;
}

/* ------------------------------------------------------  */


body {
    width: 100vw;
    height: auto;
    overflow-x: hidden;
    /* font-family: 'Pretendard'; */
    font-family: 'Cafe24Moyamoya-Regular-v1.0';
    /* background-color: #FF94AE; */
    background-color: #E45F7F;
}

/* body.scroll-disabled {
    overflow: hidden;
} */


/* ------------------------------------------------------  */

#wrap {
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: all .3s ease;
    background-color: #E45F7F;
}

header {
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .logo {
    width: 2.6vw;
    position: relative;
    right: 26vw;
    bottom: 0.3vw;
}

header ul {
    display: flex;
    list-style-type: none;
    position: relative;
    left: 1.4vw;
    
}

header ul li {
    margin: 2vw;
    /* transition: opacity 0.04s ease-in; */
    transition:all .5s ease;
}

header ul li a {
    font-size: calc(100vw * 24 / 1920);
    color: #E92A57;
    font-weight: 800;
}


.menu-list.hide li:nth-child(1) {
    transform: translateX(11vw);
    opacity: 0;
}
.menu-list.hide li:nth-child(2) {
    transform: translateX(11vw);
    opacity: 0;
}
.menu-list.hide li:nth-child(4) {
    transform: translateX(-11vw);
    opacity: 0;
}
.menu-list.hide li:nth-child(5) {
    transform: translateX(-11vw);
    opacity: 0;
}


header ul .menu-icon {
    width: 8vw;
    height: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: 0.2s ease-in;
    /* background-color: #FDE66E; */
    z-index: 20;
    cursor: pointer;
}

header ul .menu-icon.bg:hover{
    background-color: #E92A57;
    color: #FDE66E;
}

header ul .menu-icon.bg:hover a {
    color: #FDE66E;
}


header ul .menu-icon.bg {
    background-color: #FDE66E;
    color: #E92A57;
}

/* ------------------------------------------------------  */
/* main */

#main {
    width: 100vw;
    height: 56vw;
    position: relative;
    background-image: url(../img/main-bg-2.png);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-in;
}

#main.border {
    border-radius: 0 0 1900px 1900px;
}

.scroll-disabled {
    overflow: hidden;
}

#main #enableScrollButton {
    width: 13vw;
    height: 13vw;
    border-radius: 50%;
    background-color: rgba(62, 62, 62, 0.1);
    border: 0.3vw solid #FFFEEB;
    color: #FFFEEB;
    font-size: calc(100vw * 40 / 1920);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    display: inline-block;
}

#enableScrollButton.clicked {
    transform: scale(0.8);
    opacity: 0;
}

#main strong .main-txt-img {
    width: 90vw;
    position: absolute;
    left: -3vw;
    /* font-size: calc(100vw * 400 / 1920); */
    bottom: 0.5vw;
}

#main p{
    /* border: 1px solid red; */
    width: 55vw;
    text-align: center;
    font-size: calc(100vw * 32 / 1920);
    z-index: 10;
    color: #fcefaa;
    font-weight: 100;
    position: relative;
    bottom: 7vw;
}

#main .jam-1{
    width: 11vw;
    position: absolute;
    top: 5vw;
    left: 10vw;
    transition: all 2s ease-in-out;
}

#main .jam-2{
    width: 11vw;
    position: absolute;
    bottom: 20vw;
    left: 25vw;
    transition: all 2s ease-in-out;
}

#main .jam-3{
    width: 11vw;
    position: absolute;
    top: 13vw;
    right: 14vw;
    transition: all 2s ease-in-out;
}

#main .jam-4{
    width: 11vw;
    position: absolute;
    bottom: 13vw;
    right: 5vw;
    transition: all 2s ease-in-out;
}


/* ------------------------------------------------------  */
/* content-1 */

#content-1 {
    width: 100vw;
    height: 65vw;
    position: relative;
}

#content-1 h1 {
    font-size: calc(100vw * 200 / 1920);
    text-align: center;
    font-weight: 800;
    line-height: 110%;
    color: #E92A57;
    position: relative;
    right: 14vw;
    top: 2vw;
    z-index: 3;
}

#content-1 h1 span {
    font-size: calc(100vw * 230 / 1920);
}

#content-1 svg {
    width: 100vw;
    position: absolute;
    bottom: 0;
    left: 0;
}

#content-1 img {
    z-index: 2;
}

#content-1 .content1-toast-1 {
    width: 44vw;
    position: absolute;
    right: 7vw;
    top: 11vw;
}


#content-1 .content1-toast-2 {
    width: 35vw;
    position: absolute;
    left: 16vw;
    top: 27vw;
}

#content-1 .content1-toast-3 {
    width: 23vw;
    position: absolute;
    left: 38vw;
    top: 40vw;
}

#content-1 .content1-toast-4 {
    width: 28vw;
    position: absolute;
    right: 8vw;
    top: 38vw;
}

/* ------------------------------------------------------  */
/* content-2 */

#content-2 {
    width: 100vw;
    height: 48vw;
    background-image: url(../img/section-2-bg.png);
    background-size: 100%;
    position: relative;
}

#content-2 h1 {
    font-size: calc(100vw * 230 / 1920);
    color: #F99EB4;
    position: absolute;
    /* top: 45vw; */
    top: 27vw;
    left: 3vw;
    position: relative;
    transition: top 0.4s, left 0.5s ease-in-out;
}

/* #content-2 h1.txtshow{
    top: 27vw;
    left: 3vw;
} */

#content-2 h2 {
    font-size: calc(100vw * 170 / 1920);
    color: #F99EB4;
    position: absolute;
    left: 43vw;
    /* bottom: -9vw; */
    bottom: 24vw;
    transition: bottom 0.4s, left 0.5s ease-in-out;
}

/* #content-2 h2.txtshow{
    left: 43vw;
    bottom: 24vw;
} */

#content-2 .bg-wrap>div {
    width: 1.8vw;
    height: 1.8vw;
    border-radius: 50%;
    position: absolute;
    z-index: 5;
}

#content-2 .bg-wrap2>div {
    width: 1.8vw;
    height: 1.8vw;
    border-radius: 50%;
    position: absolute;
    z-index: 5;
}

.bg-wrap .red {
    bottom: 20vw;
    left: 30%;
    background-color: #FF94AE;
    animation: flow1 1.2s cubic-bezier(0.17, 0.67, 0.27, 0.8) infinite;

}

@keyframes flow1 {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 1;
        bottom: 15vw;
        left: 30.33%;
    }

    80% {
        opacity: 1;
        bottom: 25vw;
    }

    100% {
        opacity: 0;
        bottom: 25vw;
        left: 28%;
    }
}

.bg-wrap .aqua {
    bottom: 152px;
    left: 50%;
    background-color: #E92A57;
    animation: flow2 1.2s cubic-bezier(0.17, 0.67, 0.27, 0.8) infinite;

}

@keyframes flow2 {
    0% {
        opacity: 0;
        left: 40%;
    }

    5% {
        opacity: 1;
        bottom: 18vw;
        left: 42%;
    }

    80% {
        opacity: 1;
        left: 46%;
        bottom: 29vw;
    }

    100% {
        opacity: 0;
        bottom: 29vw;
        left: 46%;
    }
}


.bg-wrap .green {
    bottom: 147px;
    left: 32%;
    background-color: #E92A57;
    animation: flow3 1.2s cubic-bezier(0.17, 0.67, 0.27, 0.8) infinite;

}

@keyframes flow3 {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 1;
        bottom: 14vw;
        right: 30.33%;
    }

    80% {
        opacity: 1;
        bottom: 23vw;
    }

    100% {
        opacity: 0;
        bottom: 23vw;
        right: 23.2%;
    }
}


.bg-wrap .yellow {
    bottom: 159px;
    left: 36%;
    background-color: #FF94AE;
    animation: flow4 1.2s cubic-bezier(0.17, 0.67, 0.27, 0.8) infinite;

}

@keyframes flow4 {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 1;
        bottom: 20vw;
        right: 36.2%;
    }

    80% {
        opacity: 1;
        bottom: 26vw;
    }

    100% {
        opacity: 0;
        bottom: 26vw;
        right: 26.4%;
    }
}


.bg-wrap2 .red2 {
    bottom: 30vw;
    left: 60.33%;
    background-color: #FF94AE;
    animation: flow5 1.2s cubic-bezier(0.17, 0.67, 0.27, 0.8) infinite;

}

@keyframes flow5 {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 1;
        bottom: 30vw;
        left: 60.33%;
    }

    80% {
        opacity: 1;
        bottom: 38vw;
        left: 59%;
    }

    100% {
        opacity: 0;
        bottom: 38vw;
        left: 59%;
    }
}

.bg-wrap2 .aqua2 {
    bottom: 152px;
    left: 62%;
    background-color: #E92A57;
    animation: flow6 1.2s cubic-bezier(0.17, 0.67, 0.27, 0.8) infinite;

}

@keyframes flow6 {
    0% {
        opacity: 0;
        left: 62%;
    }

    5% {
        opacity: 1;
        bottom: 28vw;
        left: 64%
    }

    80% {
        opacity: 1;
        left: 64%;
        bottom: 37vw;
    }

    100% {
        opacity: 0;
        bottom: 37vw;
        left: 64%
    }
}


.bg-wrap2 .green2 {
    bottom: 147px;
    left: 32%;
    background-color: #E92A57;
    animation: flow7 1.2s cubic-bezier(0.17, 0.67, 0.27, 0.8) infinite;

}

@keyframes flow7 {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 1;
        bottom: 34vw;
        left: 65.33%;
    }

    80% {
        opacity: 1;
        bottom: 43vw;
        left: 67.33%;
    }

    100% {
        opacity: 0;
        bottom: 43vw;
        left: 67.33%;
    }
}


.bg-wrap2 .yellow2 {
    bottom: 34vw;
    left: 69%;
    background-color: #FF94AE;
    animation: flow8 1.2s cubic-bezier(0.17, 0.67, 0.27, 0.8) infinite;

}

@keyframes flow8 {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 1;
        bottom: 34vw;
        left: 69%;
    }

    80% {
        opacity: 1;
        bottom: 42vw;
        left: 71%;
    }

    100% {
        opacity: 0;
        bottom: 42vw;
        left: 71%;
    }
}


/* ------------------------------------------------------  */

/* content-2-1 */


#content-2-1{
    width: 100vw;
    height: 50vw;
    background-color: #FDE66E;
    position: relative;
}

#content-2-1 .top-img{
    width: 100vw;
    height: 29vw;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 1vw;
}

#content-2-1 img{
    width: 12.3vw;
    display: inline-block;
    animation: wave1 1s infinite;
}

@keyframes wave1 {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-5vw); }
}

#content-2-1 .bottom{
    width: 100vw;
    height: 22vw;
    background-color: #FFBAC7;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content-2-1 .bottom h1{
    font-size: calc(100vw * 73 / 1920);
    text-align: center;
    color: #FDE66E;
}

#content-2-1 h1.logo {
    letter-spacing: -0.4vw;  /* 글자 간의 간격을 조절 */
}

.char {
    display: inline-block;
    animation: wave 1s infinite;
}

/* 웨이브 애니메이션 정의 */
@keyframes wave {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-2vw); }
}

/* 글자마다 애니메이션 딜레이 적용 */
.char:nth-child(odd) {
    animation-delay: 0.1s;
}

.char:nth-child(even) {
    animation-delay: 0.2s;
}


/* ------------------------------------------------------  */
/* content-3 */

#content-3 {
    width: 100vw;
    height: 90vw;
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

#content-3 h1 {
    font-size: calc(100vw * 140 / 1920);
    position: absolute;
    color: #E92A57;
    top: 19vw;
    -webkit-text-stroke: 0.2vw #fd9bb2;  /* 너비와 색상을 원하는 값으로 변경 */
}

#content-3 .toaster {
    position: absolute;
    bottom: 0;
    width: 50vw;
}

#content-3 .toast-1 {
    width: 21vw;
    transition: bottom 0.3s, right 0.3s ease-in-out;
    position: absolute;
    bottom: 2vw;
    right: 36vw;
}


#content-3 .toast-1.show {
    bottom: 43vw;
    right: 51vw;
}


#content-3 .toast-2 {
    width: 23vw;
    position: absolute;
    bottom: 1vw;
    right: 36vw;
    transition: bottom 0.3s, right 0.3s ease-in-out;
}

#content-3 .toast-2.show {
    bottom: 29vw;
    right: 21vw;
}


#content-3 .toast-3 {
    width: 38vw;
    position: absolute;
    bottom: 0vw;
    right: 36vw;
    transition: bottom 0.3s, right 0.3s ease-in-out;
}


#content-3 .toast-3.show {
    bottom: 11vw;
    right: 38vw;
}


#content-3 .star-1{
    /* border: 1px solid red; */
    position: absolute;
    left: 14vw;
    top: 63vw;
    width: 16vw;
    /* transition: all 2s ease-in-out; */
}

#content-3 .star-2{
    /* border: 1px solid blue; */
    position: absolute;
    right: 3vw;
    width: 20vw;
    /* transition: all 2s ease-in-out; */
}

#content-3 .star-3{
    /* border: 1px solid black; */
    position: absolute;
    left: 7vw;
    width: 12vw;
    /* transition: all 2s ease-in-out; */
}
/* ------------------------------------------------------  */
/* txt-slide */


#txt-slide {
    width: 100vw;
    height: 9vw;
    background-color: #E92A57;
    display: flex;
    justify-content: center;
    align-items: center;
}


#txt-slide .slide-1 {
    width: calc(15% * 14);
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    animation: slide1 30s linear infinite;
}

#txt-slide .slide-1 div{
    margin: 1vw;
    font-size: calc(100vw * 75 / 1920);
    font-weight: 800;
    color: #F5EACF;
}

@keyframes slide1 {
    0% {
        transform: translateX(0%);
        /* 초기 위치에서 시작 */
    }

    100% {
        transform: translateX(calc(-250px * 7));
        /* 최종 위치로 이동 */
    }
}

/* ------------------------------------------------------  */
/* txt-slide-2 */

#txt-slide-2 {
    width: 100vw;
    height: 9vw;
    background-color: #F5EACF;
    display: flex;
    justify-content: center;
    align-items: center;
}

#txt-slide-2 .slide-2 {
    width: calc(15% * 14);
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    white-space: nowrap;
    animation: slide2 30s linear infinite;
}

#txt-slide-2 .slide-2 div{
    /* background-color: #F5EACF; */
    font-size: calc(100vw * 75 / 1920);
    margin: 1.4vw;
    font-weight: 800;
    color: #E92A57;
}

@keyframes slide2 {
    0% {
        transform: translateX(0%);
        /* 초기 위치에서 시작 */
    }

    100% {
        transform: translateX(calc(250px * 7));
        /* 최종 위치로 이동 */
    }
}


/* ------------------------------------------------------  */
/* fixed-bg-section */

#fixed-bg-section{
    width: 100vw;
    height: 40vw;
    background-image: url(../img/fixed-bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

#fixed-bg-section h1 {
    font-size: calc(100vw * 130 / 1920);
    width: 0;   /* 초기 너비를 0으로 설정 */
    background-color: #F5EACF;
    text-align: center;
    color: #D72852;
    transform: rotate(-10deg);
    position: relative;
    left: 30vw;
    top: 10vw;
    overflow: hidden;  /* 너비가 0일 때 텍스트가 보이지 않도록 설정 */
    transition: width 1s;  /* 너비 변경 시 애니메이션 효과 적용 */
    animation: reveal-text 1s forwards;  /* 텍스트 나타나는 애니메이션 적용 */
    /* animation-delay: 1s; */
}

@keyframes reveal-text {
    0% { clip-path: inset(0 100% 0 0); }
    100% { clip-path: inset(0 0 0 0); }
}

#fixed-bg-section h2{
    font-size: calc(100vw * 130 / 1920);
    width: 0;   /* 초기 너비를 0으로 설정 */
    background-color: #D72852;
    text-align: center;
    color: #F5EACF;
    transform: rotate(-5deg);
    position: relative;
    left: 40vw;
    top: 11vw;
    overflow: hidden;  /* 너비가 0일 때 텍스트가 보이지 않도록 설정 */
    transition: width 1s;  /* 너비 변경 시 애니메이션 효과 적용 */
    animation: reveal-text 1s forwards;  /* 텍스트 나타나는 애니메이션 적용 */
    /* animation-delay: 2s; */
}



/* #fixed-bg-section h2{
    font-size: calc(100vw * 130 / 1920);
    width: 24vw;
    background-color: #93DCDC;
    text-align: center;
    color: #D72852;
    position: relative;
    left: 30vw;
} */

/* ------------------------------------------------------  */
/* content-4 */

#content-4 {
    width: 100vw;
    height: 61vw;
    background-color: #93DCDC;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


#content-4 strong{
    position: absolute;
    font-size: calc(100vw * 98 / 1920);
    font-weight: 800;
    z-index: 10;
    text-align: center;
    color: #fff8e7;
    transition: all 0.7s ease-in;
    top: 15vw;
}

#content-4 strong.txtshow2{
    top: 1vw;
    font-size: calc(100vw * 44 / 1920);
}


#content-4 .slide-3{
    width: calc(15% * 14);
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    animation: slide3 30s linear infinite;
    position: absolute;
    top: -3vw;
}

#content-4 .slide-3 div{
    font-size: calc(100vw * 240 / 1920);
    font-weight: 800;
    margin: 2vw;
    color: #A6344F;
}

@keyframes slide3 {
    0% {
        transform: translateX(0%);
        /* 초기 위치에서 시작 */
    }

    100% {
        transform: translateX(calc(250px * 7));
        /* 최종 위치로 이동 */
    }
}

#content-4 .slide-4{
    width: calc(15% * 14);
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    animation: slide4 30s linear infinite;
    position: absolute;
    top: 14vw;
}

#content-4 .slide-4 div{
    font-size: calc(100vw * 240 / 1920);
    font-weight: 800;
    margin: 2vw;
    color: #A6344F;
}

@keyframes slide4 {
    0% {
        transform: translateX(0%);
        /* 초기 위치에서 시작 */
    }

    100% {
        transform: translateX(calc(-250px * 7));
        /* 최종 위치로 이동 */
    }
}


#content-4 .slide-5{
    width: calc(15% * 14);
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    animation: slide5 30s linear infinite;
    position: absolute;
    top: 31vw;
}

#content-4 .slide-5 div{
    font-size: calc(100vw * 240 / 1920);
    font-weight: 800;
    margin: 2vw;
    color: #A6344F;
}

@keyframes slide5 {
    0% {
        transform: translateX(0%);
        /* 초기 위치에서 시작 */
    }

    100% {
        transform: translateX(calc(250px * 7));
        /* 최종 위치로 이동 */
    }
}

#content-4 .slide-6{
    width: calc(15% * 14);
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    white-space: nowrap;
    animation: slide6 30s linear infinite;
    position: absolute;
    top: 45vw;
}

#content-4 .slide-6 div{
    font-size: calc(100vw * 240 / 1920);
    font-weight: 800;
    margin: 2vw;
    color: #A6344F;
}

@keyframes slide6 {
    0% {
        transform: translateX(0%);
        /* 초기 위치에서 시작 */
    }

    100% {
        transform: translateX(calc(-250px * 7));
        /* 최종 위치로 이동 */
    }
}


#content-4 ul{
    list-style-type: none;
    position: relative;
    right: 33vw;
}

#content-4 ul li{
    text-align: center;
    font-size: calc(100vw * 50 / 1920);
    margin: 3vw;
    width: 14vw;
    height: 14vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #FFF9EA;
}

#content-4 ul li:hover {
    transform: scale(0.857); /* 기본 크기의 약 0.857 배로 축소 */
    transition: all 0.3s ease-in-out;
}

#content-4 ul li a{
    color: #FFF9EA;
    font-weight: 700;
}

#content-4 ul li:nth-child(1){
    background-color: #E92A57;
}

#content-4 ul li:nth-child(2){
    background-color: #F05F82;
}

#content-4 ul li:nth-child(3){
    background-color: #FFA3B9;
}

#content-4 #section1 {
    width: 55vw;
    position: absolute;
    top: 1.8vw;
    left: 36vw;
}

#content-4 #section1 #canvas-1{
    position: absolute;
    top: 5vw;
    left: 3vw;
    width: 47vw;
    height: 47vw;
}

#content-4 #section1 h1{
    position: absolute;
    font-size: calc(100vw * 190 / 1920);
    top: 25%;
    left: 17%;
    text-align: center;
    font-weight: 800;
    color: #D72852;
}


#content-4 #section2 h1{
    position: absolute;
    font-size: calc(100vw * 190 / 1920);
    top: 25%;
    left: 11%;
    text-align: center;
    font-weight: 800;
    color: #D72852;
}

.hidesection h1 {
    opacity: 0; /* 초기에 텍스트 숨김 */
    transform: translateY(100%); /* 아래에서 위로 올라오는 애니메이션 설정 */
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out; /* 텍스트 나타나는 애니메이션 설정 */
}

#toastText.showtxt {
    opacity: 1; /* 화면에 나타날 때 투명도를 1로 설정 */
    transform: translateY(0); /* 위로 올라오는 애니메이션 설정 */
    transition-delay: 0.5s; /* 나타나는 애니메이션과 동시에 시작되도록 delay 설정 */
}

#content-4 #section1 img{
    width: 53vw;
    position: relative;
    top: 2vw;
}

#content-4 #section2 #canvas-2{
    /* border: 1px solid red; */
    position: absolute;
    top: 5vw;
    left: 3vw;
    width: 47vw;
    height: 47vw;
}

#content-4 #section2 {
    width: 100%;
    position: absolute;
    top: 1.8vw;
    left: 36vw;
    display: none;
}

#content-4 #section2 img{
    width: 53vw;
    position: relative;
    top: 2vw;
}

#content-4 #section3 {
    width: 100%;
    position: absolute;
    top: 1.8vw;
    left: 36vw;
    display: none;
}

#content-4 #section3 img{
    width: 53vw;
    position: relative;
    top: 2vw;
}

#content-4 #section3 #canvas-3{
    position: absolute;
    top: 5vw;
    left: 3vw;
    width: 47vw;
    height: 47vw;
}

/* ------------------------------------------------------  */
/* content-5 */


#content-5 {
    width: 100vw;
    height: 60vw;
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}


#content-5 .move-circle-1, .move-circle-2, .move-circle-3 {
    width: 3vw;
    height: 12vw;
    background-color: #E92A57;
    margin-bottom: 4vw;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content-5 .move-circle-1{
    transition: width 2s ease;
    top: 3vw;
}

.move-circle-1 p {
    white-space: nowrap; /* 줄 바꿈 방지 */
    overflow: hidden;
    text-overflow: ellipsis; /* 너비에 맞춰 텍스트가 짤리도록 설정 */
    font-size: calc(100vw * 40 / 1920);
    font-weight: 600;
    color: #FFFEEB;
    transition: all 0.5s ease-in;
}

.move-circle-2 p {
    white-space: nowrap; /* 줄 바꿈 방지 */
    overflow: hidden;
    text-overflow: ellipsis; /* 너비에 맞춰 텍스트가 짤리도록 설정 */
    font-size: calc(100vw * 40 / 1920);
    font-weight: 600;
    color: #FFFEEB;
    transition: all 0.5s ease-in;
}

.move-circle-3 p {
    white-space: nowrap; /* 줄 바꿈 방지 */
    overflow: hidden;
    text-overflow: ellipsis; /* 너비에 맞춰 텍스트가 짤리도록 설정 */
    font-size: calc(100vw * 40 / 1920);
    font-weight: 600;
    color: #FFFEEB;
    transition: all 0.5s ease-in;
}

#content-5 .move-circle-2{
    transition: width 2s ease;
    top: 19vw;
}

#content-5 .move-circle-3{
    transition: width 2s ease;
    top: 35vw;
}


/* ------------------------------------------------------  */
/* content-6 */


#content-6 {
    width: 100vw;
    height: 45vw;
    background-color: #FFFEEB;
    position: relative;
    display: flex;
}

#content-6 .enjoy {
    height: 45vw;
}

#content-6 p {
    font-size: calc(100vw * 63 / 1920);
    color: #ffcad7;
    margin-left: 9vw;
    text-align: right;
    font-weight: 400;
    line-height: 130%;
    position: relative;
    top: 0.9vw;
}

.highlight {
    color: #E92A57;
}


/* ------------------------------------------------------  */
/* content-7 */


#content-7 {
    width: 100vw;
    height: 59vw;
    position: relative;
    background-color: #EB7188;
}

#content-7 .triangle {
    width: 0;
    height: 0;
    border-bottom: 32vw solid #FF91B2;
    border-top: 27vw solid transparent;
    border-left: 49vw solid #FF91B2;
    border-right: 60vw solid transparent;
    position: absolute;
    bottom: 0;
    left: 0;
}

#content-7 p {
    font-size: calc(100vw * 120 / 1920);
    font-weight: 400;
    color: #FFFEEB;
    position: absolute;
    left: 3vw;
    top: 2vw;
    line-height: 120%;
}

#content-7 strong {
    font-size: calc(100vw * 90 / 1920);
    position: absolute;
    right: 8.5vw;
    bottom: 34vw;
    color: #FAE18A;
    text-align: center;
}

#content-7 .typing-txt{
    position: absolute;
    top: 15vw;
    right: 12.5vw;
}

#content-7 .typing-txt-2 {
    position: absolute;
    top: 20vw;
    left: 27.6vw;
    width: 100%;
    text-align: center;
}


@keyframes typingAnimation {
    0%   { font-size: calc(100vw * 90 / 1920); }
    50%  { font-size: calc(100vw * 140 / 1920); }
    100% { font-size: calc(100vw * 90 / 1920); }
  }
  
  .yourTypingElement {
    animation: typingAnimation 2s infinite; /* 2초 동안 애니메이션 반복 */
  }

  
#content-7 .toaster-oven {
    width: 40vw;
    position: absolute;
    right: 3vw;
    bottom: 5vw;
}

#content-7 .eye {
    width: 5vw;
    height: 8vw;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 30vw;
    overflow: hidden;
    animation: blink-animation 3s infinite alternate;
    /* 눈 깜빡임 애니메이션 적용 */
}


@keyframes blink-animation {

    0%,
    100% {
        height: 8vw;
    }

    50% {
        height: 0;
    }
}

.left-eye {
    /* left: 60px; */
    right: 26vw;
}

.right-eye {
    right: 15vw;
}

.pupil {
    width: 3vw;
    height: 4.5vw;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 40%;
    left: 36%;
    transform: translate(-50%, -50%);
}

/* 눈을 닫는 효과 */
.blink {
    height: 0;
    transition: height .1s ease-in-out;
}

/* ------------------------------------------------------  */
/* content-8 */

#content-8{
    width: 100vw;
    height: 60vw;
    background-color: #C92C4A;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    transition: all 1s ease;
}

#content-8 .txt-section{
    display: flex;
    list-style-type: none;
    transition: all 1s ease;
}

#content-8 .txt-section li p{
    margin: 5vw;
    font-size: calc(100vw * 220 / 1920);
    font-weight: 800;
    color: #FFFEEB;
}

#content-8 .img-section{
    display: flex;
}

#content-8 .img-section img{
    width: 18vw;
    transition: all 1s ease;
}


/* ------------------------------------------------------  */
/* footer */

footer{
    width: 100vw;
    height: 7vw;
    background-color: #FF94AE;
    padding: 1vw;
}

footer ul{
    list-style-type: none;
    margin-top: 0.5vw;
}

footer ul li{
    color: #F5EACF;
    font-size: calc(100vw * 22 / 1920);
}

footer ul li a{
    color: #F5EACF;
    font-size: calc(100vw * 22 / 1920);
}